{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Single</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'index' %}">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Single</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Detail Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <h6 class="text-primary mb-3">{{ teacher.full_name }}'s Level: {{ teacher.level }}</h6>
                        <h1 class="mb-5">{{ course.title }}</h1>
                        {% if teacher.image %}
                            <img class="img-fluid" src="{{ teacher.image.url }}" alt="">
                        {% else %}
                            <img class="img-fluid rounded w-100 mb-4" src="{% static 'img/user.jpg' %}"
                                 alt="Image">
                        {% endif %}
                        {% if teacher.description %}
                            <h5>{{ teacher.description }}</h5>
                        {% else %}
                            <p>{{ teacher.full_name }} has no description</p>
                        {% endif %}
                    </div>

                    <!-- Comment List -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">{{ comments.count }} Comments</h3>
                        {% if comments %}
                            {% for comment in comments %}
                                <div class="media mb-4">
                                    <img src="https://th.bing.com/th/id/OIP.70wRF8q-oXoh22mMWizblQHaHa?rs=1&pid=ImgDetMain"
                                         alt="Image"
                                         class="img-fluid rounded-circle mr-3 mt-1"
                                         style="width: 45px;">
                                    <div class="media-body">
                                        <h6>{{ comment.name }}<small> <i>{{ comment.created_at }}</i></small></h6>
                                        <p>{{ comment.comment }}</p>
                                        <div class="star-rating">
                                            <!-- 1 Star -->
                                            <label for="1-stars-{{ comment.id }}"
                                                   class="star {% if comment.rating >= 1 %}active{% endif %}">&#9733;</label>

                                            <!-- 2 Stars -->
                                            <label for="2-stars-{{ comment.id }}"
                                                   class="star {% if comment.rating >= 2 %}active{% endif %}">&#9733;</label>

                                            <!-- 3 Stars -->
                                            <label for="3-stars-{{ comment.id }}"
                                                   class="star {% if comment.rating >= 3 %}active{% endif %}">&#9733;</label>

                                            <!-- 4 Stars -->
                                            <label for="4-stars-{{ comment.id }}"
                                                   class="star {% if comment.rating >= 4 %}active{% endif %}">&#9733;</label>

                                            <!-- 5 Stars -->
                                            <label for="5-stars-{{ comment.id }}"
                                                   class="star {% if comment.rating >= 5 %}active{% endif %}">&#9733;</label>
                                        </div>
                                        {% if comment.media_file %}
                                            {% if comment.media_file %}
                                                <video class="card-img-top" width="640" style="height: auto;" controls>
                                                    <source src="{{ comment.media_file.url }}" type="video/mp4">
                                                    Your browser does not support the video tag.
                                                </video>
                                            {% endif %}
                                        {% endif %}
                                        {% if user.is_superuser %}
                                            <form method="get" action="{% url 'del_comment_blog' blog.slug %}">
                                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                <button class="btn btn-sm btn-secondary" type="submit">
                                                    Delete
                                                </button>
                                            </form>
                                        {% endif %}
                                    </div>
                                    {% if comment.media_file %}
                                        <p>Uploaded file: <a href="{{ comment.media_file.url }}">Download</a></p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <h5 style="color: darkred">Not Found Any Comments⁉️</h5>
                            <p>You can add an comment</p>
                        {% endif %}

                    </div>

                    <!-- Comment Form -->
                    <div class="bg-secondary rounded p-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Leave a comment</h3>
                        <form method="post" action="{% url 'add_comment_teacher' teacher.slug %}"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" name="name" class="form-control border-0" id="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" name="email" class="form-control border-0" id="email">
                            </div>
                            <div class="form-group">
                                <label for="rating">Rating</label>
                                <select name="rating" class="form-control border-0" id="rating">
                                    <option value="1"
                                            {% if form.rating.value|stringformat:"s" == "1" %}selected{% endif %}>1
                                    </option>
                                    <option value="2"
                                            {% if form.rating.value|stringformat:"s" == "2" %}selected{% endif %}>2
                                    </option>
                                    <option value="3"
                                            {% if form.rating.value|stringformat:"s" == "3" %}selected{% endif %}>3
                                    </option>
                                    <option value="4"
                                            {% if form.rating.value|stringformat:"s" == "4" %}selected{% endif %}>4
                                    </option>
                                    <option value="5"
                                            {% if form.rating.value|stringformat:"s" == "5" %}selected{% endif %}>5
                                    </option>
                                </select>
                            </div>
                            <input type="hidden" name="course_id" value="{{ course.id }}">
                            <div class="form-group">
                                <label for="comment">Message *</label>
                                <textarea id="comment" name="comment" cols="30" rows="5"
                                          class="form-control border-0"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="media_file">Upload File</label>
                                <input type="file" name="media_file" class="form-control border-0" id="file">
                            </div>
                            <div class="form-group mb-0">
                                <button class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold"
                                        style="margin-top: 9px" type="submit" name="submit" value="Leave Comment">Leave
                                    Comment
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-4 mt-5 mt-lg-0">
                    <!-- Category List -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Categories</h3>
                        <ul class="list-group list-group-flush">
                            {% if categories %}
                                {% for category in categories %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                        <a href="{% url 'cg_detail' category.slug %}"
                                           class="text-decoration-none h6 m-0">{{ category.title }}</a>
                                        <span class="badge badge-primary badge-pill">{{ category.course_count }}</span>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <a style="color: darkred">Not Found Any Categories⁉️</a>
                            {% endif %}
                        </ul>
                    </div>

                    <!-- Recent Post -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Recent Post</h3>
                        {% if blogs %}
                            {% for blog in blogs %}
                                <a class="d-flex align-items-center text-decoration-none mb-3"
                                   href="{% url 'single' blog.slug %}"">
                                {% if blog.image %}
                                    <img class="img-fluid rounded" src="{% static blog.image.url %}" alt="">
                                {% else %}
                                    <img class="img-fluid rounded" src="{% static 'img/blog-80x80.jpg' %}" alt="">
                                {% endif %}
                                <div class="pl-3">
                                    <h6 class="m-1">{{ blog.title }}</h6>
                                    <small>{{ blog.date_added }}</small>
                                </div>
                                </a>
                            {% endfor %}
                        {% else %}
                            <a style="color: darkred">Not Found Any Blog Posts⁉️</a>
                        {% endif %}
                    </div>

                    <!-- Tag Cloud -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h3>
                        <div class="d-flex flex-wrap m-n1">
                            {% if categories %}
                                {% for category in categories %}
                                    <a href="{% url 'cg_detail' category.slug %}"
                                       class="btn btn-outline-primary m-1">{{ category.title }}</a>
                                {% endfor %}
                            {% else %}
                                <a style="color: darkred">Not Found Any Category Tags⁉️</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Detail End -->
{% endblock %}
