{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css'>
    <link rel="stylesheet" href="{% static 'css/auth_styles.css' %}"/>
</head>
<body>
<div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div>

<!-- Log In Form Section -->
<section>
    <div class="col-lg-3">
        <a href="{% url 'index' %}">
            <h1 class="m-0"><big class="text-primary">E</big>COURSES</h1>
        </a>
    </div>
    <br>
    <br>
    <div class="container" id="container">

        <div class="form-container sign-up-container">
            <form method="post">
                {% csrf_token %}
                <h1>Sign Up</h1>
                <div class="social-container">
                    <a href="{% url 'social:begin' 'twitter' %}" target="_blank" class="social"><i
                            class="fab fa-twitter"></i></a>
                    <a href=""{% url 'social:begin' 'facebook' %}" target="_blank" class="social"><i
                            class="fab fa-facebook"></i></a>
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="social"><i class="fab fa-google"></i></a>
                </div>
                <span>Or use your Email for registration</span>

                <input type="text" name="username" id="id_username" placeholder="Username"
                       value="{{ form.username.value }}">
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}

                <input type="email" name="email" id="id_email" placeholder="Email" value="{{ form.email.value }}">
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}

                <input type="password" name="password" id="id_password" placeholder="Password">
                {% if form.password.errors %}
                    <div class="error">{{ form.password.errors }}</div>
                {% endif %}

                <button style="margin-top: 9px" type="submit" name="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form method="post" action="{% url 'sign_in' %}">
                {% csrf_token %}
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="{% url 'social:begin' 'twitter' %}" target="_blank" class="social"><i
                            class="fab fa-twitter"></i></a>
                    <a href=""{% url 'social:begin' 'facebook' %}" target="_blank" class="social"><i
                            class="fab fa-facebook"></i></a>
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="social"><i class="fab fa-google"></i></a>
                </div>
                <span> Or sign in using E-Mail Address</span>
                <label>
                    <input type="text" name="username" placeholder="Username" value="{{ form.username1.value }}"/>
                </label>
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
                <label>
                    <input type="password" name="password" placeholder="Password" value="{{ form.password.value }}"/>
                </label>
                {% if form.password.errors %}
                    <div class="error">{{ form.password.errors }}</div>
                {% endif %}
                <a>Make sure you have already Signed Up</a>
                <button style="margin-top: 9px" href="{% url 'sign_in' %}">Sign In</button>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Log in</h1>
                    <p>Sign in here if you already have an account </p>
                    <button class="ghost mt-5" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Create, Account!</h1>
                    <p>Sign up if you still don't have an account ... </p>
                    <button class="ghost" id="signUp" type="submit" name="submit">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js'></script>
<script src="{% static 'js/auth_script.js' %}"></script>
</body>
</html>