{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Single</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'index' %}">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Single</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Detail Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                {% if category_videos %}
                    {% for course in category_videos %}
                        <div class="col-lg-3 col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    {% if course.video %}
                                        <video class="card-img-top" width="100%" controls>
                                            <source src="{{ course.video.url }}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    {% else %}
                                        <img class="card-img-top" src="{% static 'img/carousel-1.jpg' %}" alt="Image">
                                    {% endif %}
                                    <h6 class="text-primary mt-3">Number of
                                        students: {{ course.number_of_students }}</h6>
                                    <h5 class="card-title">{{ course.title }}</h5>
                                    <p class="card-text">
                                        {% if course.description %}
                                            {{ course.description }}
                                        {% else %}
                                            {{ course.title }} has no description
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2 class="col-12 text-center" style="color: darkred;">Not Found Any Videos In This Category⁉️</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}



