{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Single</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Single</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Detail Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <h6 class="text-primary mb-3">Number of students: {{ course.number_of_students }}</h6>
                        <h1 class="mb-5">{{ course.title }}</h1>
                        {% if course.video %}
                            <video width="640" height="360" controls>
                                <source src="{{ course.video.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% else %}
                            <img class="img-fluid rounded w-100 mb-4" src="{% static 'img/carousel-1.jpg' %}"
                                 alt="Image">
                        {% endif %}
                        {% if course.description %}
                            <p>{{ course.description }}</p>
                        {% else %}
                            <p>{{ course.title }} has no description</p>
                        {% endif %}
                    </div>

                    <!-- Comment List -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">{{ comments.count }} Comments</h3>
                        {% if comments %}
                            {% for comment in comments %}
                                <div class="media mb-4">
                                    <img src="{% static 'img/user.jpg' %}" alt="Image"
                                         class="img-fluid rounded-circle mr-3 mt-1"
                                         style="width: 45px;">
                                    <div class="media-body">
                                        <h6>{{ comment.name }}<small><i>{{ comment.created_at }}</i></small></h6>
                                        <p>{{ comment.comment }}</p>
                                        <button class="btn btn-sm btn-secondary">Delete</button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h5 style="color: darkred">Not Found Any Comments⁉️</h5>
                            <p>You can add an comment</p>
                        {% endif %}

                    </div>

                    <!-- Comment Form -->
                    <div class="bg-secondary rounded p-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Leave a comment</h3>
                        <form method="get">
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" name="name" class="form-control border-0" id="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" name="email" class="form-control border-0" id="email">
                            </div>
                            <div class="form-group">
                                <label for="rating">Rating</label>
                                <input type="text" name="rating" class="form-control border-0" id="rating">
                            </div>

                            <div class="form-group">
                                <label for="comment">Message *</label>
                                <textarea id="comment" name="comment" cols="30" rows="5" class="form-control border-0"></textarea>
                            </div>
                            <div class="form-group mb-0">
                                <input type="submit" value="Leave Comment"
                                       class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-4 mt-5 mt-lg-0">
                    <!-- Category List -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Categories</h3>
                        <ul class="list-group list-group-flush">
                            {% if categories %}
                                {% for category in categories %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                        <a href="{% url 'cg_detail' category.slug %}"
                                           class="text-decoration-none h6 m-0">{{ category.title }}</a>
                                        <span class="badge badge-primary badge-pill">1</span>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <a style="color: darkred">Not Found Any Categories⁉️</a>
                            {% endif %}
                        </ul>
                    </div>

                    <!-- Recent Post -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Recent Post</h3>
                        {% if blogs %}
                            {% for blog in blogs %}
                                <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                                    {% if blog.image %}
                                        <img class="img-fluid rounded" src="{% static blog.image.url %}" alt="">
                                    {% else %}
                                        <img class="img-fluid rounded" src="{% static 'img/blog-80x80.jpg' %}" alt="">
                                    {% endif %}
                                    <div class="pl-3">
                                        <h6 class="m-1">{{ blog.title }}</h6>
                                        <small>{{ blog.date_added }}</small>
                                    </div>
                                </a>
                            {% endfor %}
                        {% else %}
                            <a style="color: darkred">Not Found Any Blog Posts⁉️</a>
                        {% endif %}
                    </div>

                    <!-- Tag Cloud -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h3>
                        <div class="d-flex flex-wrap m-n1">
                            {% if categories %}
                                {% for category in categories %}
                                    <a href="{% url 'cg_detail' category.slug %}"
                                       class="btn btn-outline-primary m-1">{{ category.title }}</a>
                                {% endfor %}
                            {% else %}
                                <a style="color: darkred">Not Found Any Category Tags⁉️</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Detail End -->
{% endblock %}



