{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 mb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#header-carousel" data-slide-to="1"></li>
                <li data-target="#header-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" style="min-height: 300px;">
                    <img class="position-relative w-100" src="{% static 'img/carousel-1.jpg' %}"
                         style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>
                            <h1 class="display-3 text-white mb-md-4">Best Education From Your Home</h1>
                            <a href="{% url 'course' %}"
                               class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">See Our Courses</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="min-height: 300px;">
                    <img class="position-relative w-100" src="{% static 'img/carousel-2.jpg' %}"
                         style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Best Online Teachers</h5>
                            <h1 class="display-3 text-white mb-md-4">Best Online Learning Platform</h1>
                            <a href="{% url 'teacher' %}"
                               class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">See Our Teachers</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="min-height: 300px;">
                    <img class="position-relative w-100" src="{% static 'img/carousel-3.jpg' %}"
                         style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Best Online Blogs</h5>
                            <h1 class="display-3 text-white mb-md-4">New Way To Learn From Home</h1>
                            <a href="{% url 'blog' %}"
                               class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">See Our Blogs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/about.jpg' %}" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Us</h5>
                        <h1>Innovative Way To Learn</h1>
                    </div>
                    <p>Register</p>
                    <p>Choose Your Category</p>
                    <p>Buy Our Courses</p>
                    <a href="{% url 'auth' %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Buy
                        Courses Now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Category Start -->
    {% if blogs %}
        <div class="container-fluid py-5">
            <div class="container pt-5 pb-3">
                <div class="text-center mb-5">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Subjects</h5>
                    <h1>Explore Top Subjects</h1>
                </div>
                <div class="row">
                    {% for blog in blogs %}
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="cat-item position-relative overflow-hidden rounded mb-2">
                                {% if blog.image %}
                                    <img class="img-fluid" src="{{ blog.image.url }}" alt="">
                                {% else %}
                                    <img class="img-fluid" src="{% static 'img/cat-1.jpg' %}" alt="">
                                {% endif %}
                                <a class="cat-overlay text-white text-decoration-none" href="">
                                    <h4 class="text-white font-weight-medium"></h4>
                                    <span>{{ blog.title }}</span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid py-5">
            <div class="container pt-5 pb-3">
                <div class="text-center mb-5">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Subjects</h5>
                    <h1>Explore Top Subjects</h1>
                </div>
                <div class="text-center">
                    <br>
                    <h3 style="color: darkred">Not Found Any Category⁉️</h3>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Category Start -->

    <!-- Courses Start -->
    {% if courses %}
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="text-center mb-5">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>
                    <h1>Our Popular Courses</h1>
                </div>
                <div class="row">
                    {% for course in courses %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="rounded overflow-hidden mb-2">
                                {% if course.image %}
                                    <img class="img-fluid" src="{{ course.image.url }}" alt="">
                                {% else %}
                                    <img class="img-fluid" src="{% static 'img/course-1.jpg' %}" alt="">
                                {% endif %}
                                <div class="bg-secondary p-4">
                                    <div class="d-flex justify-content-between mb-3">
                                        <small class="m-0"><i
                                                class="fa fa-users text-primary mr-2"></i>{{ course.number_of_students }}
                                            Students</small>
                                        <small class="m-0"><i
                                                class="far fa-clock text-primary mr-2"></i>{{ course.hours }}h {{ course.minutes }}m</small>
                                    </div>
                                    <a class="h5" href="{% url 'c_detail' course.slug %}">{{ course.title }}</a>
                                    <div class="border-top mt-4 pt-4">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5
                                                <small>(250)</small>
                                            </h6>
                                            <h5 class="m-0">${{ course.price }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="text-center mb-5">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>
                    <h1>Our Popular Courses</h1>
                </div>
                <div class="text-center">
                    <br>
                    <h3 style="color: darkred">Not Found Any Courses⁉️</h3>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Courses End -->

    <!-- Team Start -->
    {% if teachers %}
        <div class="container-fluid py-5">
            <div class="container pt-5 pb-3">
                <div class="text-center mb-5">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Teachers</h5>
                    <h1>Meet Our Teachers</h1>
                </div>
                <div class="row">
                    {% for teacher in teachers %}
                        <div class="col-md-6 col-lg-3 text-center team mb-4">
                            <div class="team-item rounded overflow-hidden mb-2">
                                <div class="team-img position-relative">
                                    {% if teacher.image %}
                                        <img class="img-fluid" src="{{ teacher.image.url }}" alt="">
                                    {% else %}
                                        <img class="img-fluid" src="{% static 'img/no_image.jpg' %}" alt="">
                                    {% endif %}
                                    <div class="team-social">
                                        <a class="btn btn-outline-light btn-square mx-1" href="#"><i
                                                class="fab fa-twitter"></i></a>
                                        <a class="btn btn-outline-light btn-square mx-1" href="#"><i
                                                class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-outline-light btn-square mx-1" href="#"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                                <div class="bg-secondary p-4">
                                    <h5><a href="{% url 't_slug' teacher.slug %} " class="text-decoration-none">{{ teacher.full_name }}</a></h5>
                                    <p class="m-0">{{ teacher.specialization }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid py-5">
            <div class="container pt-5 pb-3">
                <div class="text-center mb-5">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Teachers</h5>
                    <h1>Meet Our Teachers</h1>
                </div>
                <div class="text-center">
                    <br>
                    <h3 style="color: darkred">Not Found Any Teachers⁉️</h3>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Testimonial</h5>
                <h1>What Say Our Students</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel">
                        {% if comments %}
                            {% for comment in comments %}
                                <div class="text-center">
                                    <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                                    <h4 class="font-weight-normal mb-4">{{ comment.comment }}</h4>
                                    <img class="img-fluid mx-auto mb-3" src="{% static 'img/testimonial-1.jpg' %}"
                                         alt="">
                                    <h5 class="m-0">{{ comment.name }}</h5>
                                    <span>Profession</span>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h3 style="color: darkred" class="text-center mb-5">Not Found Any Categories⁉️</h3>
                            <h3 style="color: #0091c6" class="text-center mb-5">Add comments</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Our Blog</h5>
                <h1>Latest From Our Blog</h1>
            </div>
            <div class="row pb-3">
                {% if blogs %}
                    {% for blog in blogs %}
                        <div class="col-lg-4 mb-4">
                            <div class="blog-item position-relative overflow-hidden rounded mb-2">
                                <img class="img-fluid" src="{% static 'img/blog-1.jpg' %}" alt="">
                                <a class="blog-overlay text-decoration-none" href="">
                                    <h5 class="text-white mb-3">Lorem elitr magna stet eirmod labore amet labore clita
                                        at ut
                                        clita</h5>
                                    <p class="text-primary m-0">Jan 01, 2050</p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-lg-4 mb-4">
                        <div class="blog-item position-relative overflow-hidden rounded mb-2">
                            <img class="img-fluid"
                                 src="https://webgatha.potenzaglobalsolutions.com/wp-content/themes/webgatha-child/intro/assets/images/loading.gif"
                                 alt="">
                            <a class="blog-overlay text-decoration-none" href="">
                                <h5 style="color: darkred" class="text-white mb-3">Not Found Any Blogs⁉️</h5>
                                <p>Write Some Blogs</p>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Blog End -->

{% endblock %}
