{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Single</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'index' %}">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Single</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Detail Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                {% if courses %}
                    {% for course in courses %}
                        <div class="col-lg-3 col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">

                                    {% if course.video %}
                                        <a href="{% url 'c_detail' course.slug %}">
                                            <video class="card-img-top" width="100%" controls>
                                                <source src="{{ course.video.url }}" type="video/mp4">
                                                Your browser does not support the video tag.
                                            </video>
                                        </a>
                                    {% else %}
                                        <img class="card-img-top" src="{% static 'img/carousel-1.jpg' %}" alt="Image">
                                    {% endif %}
                                    <h6 class="text-primary mt-3">Number of
                                        students: {{ course.number_of_students }}</h6>
                                    <a href="{% url 'c_detail' course.slug %}"><h5
                                            class="card-title">{{ course.title }}</h5></a>
                                    <p class="card-text">
                                        {% if course.description %}
                                            {{ course.description }}
                                        {% else %}
                                            {{ course.title }} has no description
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2 class="col-12 text-center" style="color: darkred;">Not Found Any Videos In This Category⁉️</h2>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Comment List -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">{{ comments.count }} Comments</h3>
                        {% if comments %}
                            {% for comment in comments %}
                                <div class="media mb-4">
                                    <img src="https://th.bing.com/th/id/OIP.70wRF8q-oXoh22mMWizblQHaHa?rs=1&pid=ImgDetMain"
                                         alt="Image"
                                         class="img-fluid rounded-circle mr-3 mt-1"
                                         style="width: 45px;">
                                    <div class="media-body">
                                        <h6>{{ comment.name }}<small> <i>{{ comment.created_at }}</i></small></h6>
                                        <p>{{ comment.comment }}</p>
                                        <div class="star-rating">
                                            <!-- 1 Star -->
                                            <label for="1-stars-{{ comment.id }}"
                                                   class="star {% if comment.rating >= 1 %}active{% endif %}">&#9733;</label>

                                            <!-- 2 Stars -->
                                            <label for="2-stars-{{ comment.id }}"
                                                   class="star {% if comment.rating >= 2 %}active{% endif %}">&#9733;</label>

                                            <!-- 3 Stars -->
                                            <label for="3-stars-{{ comment.id }}"
                                                   class="star {% if comment.rating >= 3 %}active{% endif %}">&#9733;</label>

                                            <!-- 4 Stars -->
                                            <label for="4-stars-{{ comment.id }}"
                                                   class="star {% if comment.rating >= 4 %}active{% endif %}">&#9733;</label>

                                            <!-- 5 Stars -->
                                            <label for="5-stars-{{ comment.id }}"
                                                   class="star {% if comment.rating >= 5 %}active{% endif %}">&#9733;</label>
                                        </div>

                                        {% if comment.media_file %}
                                            {% if comment.media_file %}
                                                <video class="card-img-top" width="10%" controls>
                                                    <source src="{{ comment.media_file.url }}" type="video/mp4">
                                                    Your browser does not support the video tag.
                                                </video>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h5 style="color: darkred">You Don't Have Any Comments⁉️</h5>
                            <p>You can add an comment</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



